$orange : #fd7e14;

// Override Bootstrap
.container {
  background-color: #fff;
}
.text-orange {
  color: $orange !important;
}

.bg-orange {
  background-color: $orange !important;
}

.table .thead-orange th {
  color: #fff;
  background-color: $orange !important;
  border-color: #ec6f08!important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute !important;
  right: 0px !important;
}

//
#headerCarouselBox {
  background-color: #4c4c4c !important;
}
.headerContentBox-Inner{
  padding-top: 3rem;
  @media (max-width: 576px) {
    padding-top: 1.2rem;
  }
}
.headerContentBox-Outer {
  margin-top: 3rem;
  @media (max-width: 576px) {
    margin-top: 2rem;
  }
}
.headerPaddingSponge {
  display: block;
  padding-top: 5rem;
  @media (max-width: 576px) {
    padding-top: 1.2rem;
  }
}
.mainPage {margin: 0 !important; padding: 0 !important;}
html {scroll-behavior: smooth;}
body {
  background-color: #fff;
  //background-image: url('../imgs/House-Cleaning-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.bodySection {
  padding-top: 5rem;
}
.bodyStartSection {
  padding-top: 2rem;
}
.formResult {
  padding: 0.5rem 1rem;
}
footer {
  padding: 4rem 0rem;
  .footer-section {
    margin-top: 0.5rem;
    p {margin-top: 1rem;}
  }
  .social-icon {
    padding: 0rem 0.4rem;
  }
  .link-hover {
    &:hover, &:active {
      color: $orange !important;
    }
  }
}